<!DOCTYPE HTML>
<html>
	<head>
		<title>Fuse Bot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="aDashboard</h1>if logged }}/h1>
		  				<nav>
r.discriminator}}f }}iscriminator}}</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">About(WIP)</a></li>
                <li><a href="/logout">Log out</a></li>
							</ul>
							<a href="" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="bannerh"
						<divcl2s
              
                             </ul>
					</div>
			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="staticipt>                
			<s>
                ript src="static/js/main.js"></script>

	</body>
</html>